{% extends 'images/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/image_create.css' %}">
{% endblock %}

{% block content %}
<div class="create-container">
    <h2>Upload New Image</h2>
    <form method="POST" enctype="multipart/form-data" class="create-form">
        {% csrf_token %}
        <!-- <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
        </div> -->
        
        <div class="form-group">
            <label for="image">Select Images</label>
            <div class="file-upload">
                <input type="file" name="image" multiple id="image" accept="image/*" required>
                <label for="image" class="file-label">Choose File</label>
            </div>
            <div id="file-name-container">
            <div id="file-name" class="file-name"></div></div>
        </div>

        <button type="submit" class="submit-btn">Upload Image</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById('image').addEventListener('change', function(e) {
        files = e.target.files;
        output = document.getElementById('file-name-container');
        for (var i=0; i<files.length; i++) {
            var item = document.createElement("div");
            item.classList.add("file-name");
            item.innerHTML = files[i].name;
            output.appendChild(item);
        };

        if(files.length === 0) {
            document.getElementById('file-name').textContent = 'No file chosen';
        }
    });
</script>
{% endblock %}
